<app-top-nav></app-top-nav>

<div class="row">
    <div class="col-3">
        <div class="profile-img"></div>
        <hr>
        <div class="card">
            <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
            <div class="container">
                <h2><b>Rey Eduard Torres</b></h2>
                <p>IT Student</p>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="profile-img"></div>
        <hr>
        <div class="card">
            <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
            <div class="container">
                <div style="text-align: center;">
                    <h1><code>All About Me</code></h1>
                    <i>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</i>
                </div>
                <h2><code>+ Work Experience</code> </h2>
                <h3>ICT Technician Support</h3>
                <p>Jan. 2020 - <a style="background-color: orange; text-decoration: none;">Current</a></p>
                <p>
                    i'm currently working at Adventist University of the Philippines as a technical support.
                </p>
            </div>
            
        </div>
        <br>
        <br>
        <div class="card">
            <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
            <div class="container">
                <h2><code>+ Education</code> </h2>
                <h3>Adventist University of the Philippines</h3>
                <p>Jan. 2020 - <a style="background-color: orange; text-decoration: none;">Current</a></p>
                <p>
                   Im Currently Studying of Bachelor of Science in Information Technology.
                </p>
                <hr>
                <h3>STCNHS</h3>
                <p>2011 - 2014</p>
                <p>
                   I Graduated at Sta. Cruz Occidental Mindoro National Highschool.
                </p>
            </div>
            
        </div>
        <br>
        <br>
        <div class="card">
            <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
            <div class="container">
                <div style="text-align: center;">
                    <h1><code>My Likes and Interest</code></h1>
                    <i>Just like you my buddy, you had your own likes and interest in different things and lifes. And this is mine.</i>
                </div>
                <h2><code>Books</code> </h2>
                <p>
                   I always like to read books about psychology, philosophy and history. This books gives me a good felling, motivation and awareness. And also one of my past time.
                </p>
                <h2><code>Humors</code> </h2>
                <p>
                   Had the best felling this, as Alsways.
                </p>
                <h2><code>Movies</code> </h2>
                <p>
                   I like to watch movies after works and school., What a greate pleasure..hayysss.
                </p>
                <h2><code>Color theme</code> </h2>
                <p>
                   Black and white simple and full of memories the happy and sad memories.
                </p>
                <h2><code>I Like Minimal Designs</code> </h2>
                <p>
                   Because it is simple, clean easy to read..
                </p>
                <h2><code>Life Advice</code> </h2>
                <p>
                   In Life things happen. We may not want them to but they do, We only have to do is do your best and move on. -Dwayne Johnson
                </p>
            </div>
            
        </div>
        <br>
        <br>
        <div class="card">
            <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
            <div class="container">
                <h2><code>+ Programming Language and Basic Experience</code> </h2>
                <h3>- Server Side</h3>
                    <p><b>PHP -</b> Im using this server side language to do some interesting stuff that i want to do to help. me improve.</p>
                    <p><b>MySql -</b> I use this as my first database platform when i was second year.</p>
                    <p><b>PostgreSql -</b> i'm use Postgresql along with php</p>
                    <br>
                    <h3>- JAVASCRIPT</h3>
                    <p><b>JQUERY -</b> It is interesting to do some stuff with this for my development.</p>
                    <p><b>AJAX -</b> I use this to create stuff with jquery and server side.</p>
                    <p><b>ANGULAR AJAX -</b> i currently use this to create this page Angular cli version 9</p>
            </div>
            
        </div>
    </div>
</div>